@use '../abstracts/' as *;

.footer {
  &.footer {
    color: var(--footer-color, var(--color-on-surface));
    padding-block: 0;
    container: footer / inline-size;
    font-size: var(--fs-400);
    
    @media ( width > 850px ) {
      padding-block: 0 var(--spacing-625);
    }
  }

  .bg-box {
    --_circle-size: 17.5rem;

    position: relative;
    z-index: 1;
    isolation: isolate;
    overflow: hidden;
    background-color: var(--color-primary);

    &:before, &:after {
      content: '';
      position: absolute;
      width: var(--_circle-size);
      height: var(--_circle-size);
      border-radius: 50%;
      background-color: oklch( 1 0 0 / 0.05 );
      pointer-events: none;
    }

    &:before {
      bottom: calc( -1 * var(--_circle-size) / 2 + 1.75rem );
      left: calc( -1 * var(--_circle-size) / 2 + 1.75rem );
    }

    &:after {
      top: calc( -1 * var(--_circle-size) / 2 + 1.5rem );
      right: calc( -1 * var(--_circle-size) / 2 + 1.75rem );
    }
  }

  &__inner {
    z-index: 2;
    color: var(--color-on-primary);

    a:not(:hover) {
      color: inherit;
    }
  }

  .section__title, &__title {
    color: inherit;
  }

  .section__title {
    font-size: var(--fs-900);
  }

  &__title {
    font-size: var(--fs-600);
    font-weight: 700;
  }

  &__socials {
    --_icon-size: clamp( 1.875rem, 3cqi, 2.25rem );
    display: flex;
    gap: var(--spacing-125);
  }

  &__social {
    margin: 0;
    width: var(--_icon-size);
    height: var(--_icon-size);
    display: grid;
    place-items: center;
    border-radius: 50%;
    border: .0625rem solid #fff;

    transition: border-color var(--transition-duration);

    img {
      display: block;
      width: calc( .5 * var(--_icon-size));
      aspect-ratio: 1;
    }

    &:hover {
      border-color: var(--color-secondary);
    }
  }

  &__menu {
    &-list {
      display: flex;
      justify-content: center;
      gap: var(--spacing-200);
    }

    &-item {
      margin-block-end: 0;

      transition: color var(--transition-duration);

      &--current {
        color: var(--color-secondary);
        font-weight: 600;
      }

      &:hover {
        color: var(--color-secondary);
      }
    }
  }

  &__main {
    padding-block: 6.25rem var(--spacing-625);

    .section__inner {
      display: grid;
      grid-template-columns: minmax(0, 1fr);
      gap: var(--spacing-375) var(--spacing-500);
    }
  }

  &__bottom {
    padding-block :var(--spacing-500);
    border-top: .0625rem solid oklch( 1 0 0 / .25 );

    .section__inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--spacing-125);
      text-align: center;
    }
  }

  &__copyright, &__designed-by {
    margin-block-end: 0;
    font-size: var(--fs-200);
  }

  .back-to-top.active {
    color: var(--color-secondary);
    border-color: var(--color-secondary);

    &:is( :hover, :active ) {
      background-color: var(--color-secondary);
      color: var(--color-on-secondary);
    }
  }

  @include container-query( footer, md, gt ) {
    &__main {
      .section__inner {
        grid-template-columns: 50% repeat(2, minmax(0, 1fr));
      }
    }

    &__bottom {
      .section__inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
      }

      .footer__copyright-wrapper {
        text-align: right;
      }
    }
  }
}
