@use '../bases';
@use '../components/jins-button';
@use '../components/jins-card';

.wpcf7 {
  label {
    font-size: clamp(1rem, 2cqi, 1.1rem);
  }

  &-form-control:is(input[type=text], input[type=email], input[type=tel], select, input[type=date], textarea) {
    font-size: var(--fs-400);
    line-height: 1.5;
    padding-block: .5rem;
    padding-inline: var(--spacing-175);
    height: auto;
    min-height: auto;
    border-radius: .25rem;

    &, &:focus-visible {
      box-shadow: none;
    }

    &:focus-visible {
      border-color: var(--gray-color-950);
    }
  }

  .required {
    color: var(--color-error);
  }
}