@use '../abstracts/' as *;

@layer base {
  :root {
    // Colors
    // --- Accent roles ---
    --color-primary: #deb887;
    --color-on-primary: #141414;

    --color-secondary: #ff7e4e;
    --color-on-secondary: #fff;
    
    --color-surface: #fff;
    --color-on-surface: #111;
    --color-on-surface-variant: #333;
    --color-surface-container: #f3f4f6;
    --color-on-surface-container: #6b7280;

    --color-success: #00fa9b;
    --color-on-success: #111;
    --color-error: #b22323;
    --color-on-error: #fff;
    --color-gpw: #f7941d;
    --color-on-gpw: #fff;


    // Screen size
    @each $i, $screen in $breakpoints {
      --screen-#{$i}: #{$screen};
    }
    // Spacing:
    @each $i, $size in $spacing {
      --spacing-#{$i}: #{$size};
    }
    // Font size
    @each $i, $size in $font-sizes {
      --fs-#{$i}: #{$size};
    }
    // shadow
    @each $i, $shadow in $shadows {
      --shadow-#{$i}: #{$shadow};
    }

    --transition-duration: 250ms;
  }

  html > body {
    background-color: var(--color-surface, var(--wp--preset--color--white));
    color: var(--color-on-surface, #000);
    font-size: var(--fs-400);
    line-height: 1.5;
  }

  p {
    margin-bottom: var(--spacing-100);
  }

  h1, h2, h3, h4, h5, h6 {
    color: var(--color-on-surface);
  }

  :where(ul, ol)[class] {
    margin: 0;
    list-style: none;
  }

  blockquote {
    font-size: var(--fs-400);
    border-color: var(--color-primary);

    &:has(+ *) {
      margin-block-end: 1.25em;
    }
  }

  a {
    color: var(--color-on-surface);

    &:hover {
      color: var(--color-secondary);
    }
  }

  #content {
    container: content / inline-size;
  }
}