@use '../abstracts/' as *;

@layer base {
  :root {
    // Colors
    // --- Accent roles ---
    --color-primary: #001B3A;
    --color-on-primary: var(--wp--preset--color--white);
    --color-primary-container: #0E2846;
    --color-on-primary-container: var(--wp--preset--color--white);

    --color-secondary: #F27E1D;
    --color-on-secondary: var(--wp--preset--color--white);
    --color-secondary-gradient-from: var(--color-secondary);
    --color-secondary-gradient-to: #f2a23d;
    
    --color-surface: #F2F1ED;
    --color-on-surface: #1F1D1B;
    --color-on-surface-variant: #333;
    --color-surface-dim: #1F1D1B;
    --color-on-surface-dim: #F2F1ED;
    --color-surface-bright: #fff;

    --color-success: #00fa9b;
    --color-on-success: #1F1D1B;
    --color-error: #b22323;
    --color-on-error: var(--wp--preset--color--white);
    --color-gpw: #f7941d;
    --color-on-gpw: var(--wp--preset--color--white);


    // Screen size
    @each $i, $screen in $breakpoints {
      --screen-#{$i}: #{$screen};
    }
    // Spacing:
    @each $i, $size in $spacing {
      --spacing-#{$i}: #{$size};
    }
    // Font size
    @each $i, $size in $font-sizes {
      --fs-#{$i}: #{$size};
    }
    // shadow
    @each $i, $shadow in $shadows {
      --shadow-#{$i}: #{$shadow};
    }

    --transition-duration: 250ms;
  }

  html > body {
    font-size: var(--fs-400);
    line-height: 1.5;
  }

  p {
    margin-block-end: var(--spacing-100);
  }

  h1, h2, h3, h4, h5, h6 {
    color: var(--color-primary);
  }

  :where(ul, ol)[class] {
    margin: 0;
    list-style: none;
  }

  blockquote {
    font-size: var(--fs-400);
    border-color: var(--color-primary);

    &:has(+ *) {
      margin-block-end: 1.25em;
    }
  }

  a {
    color: var(--color-on-surface);

    &:hover {
      color: var(--color-secondary);
    }
  }

  #wrapper {
    background-color: var(--color-surface, var(--wp--preset--color--white));
    color: var(--color-on-surface, #000);
  }

  #main {
    background-color: transparent;
  }

  #content {
    container: content / inline-size;
  }
}